.card {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 30%;
  padding: 1.5rem 2rem 1.5rem 3.5rem;
  background: rgba(255,255,255,0.95);
  opacity: 0;
  transform: translate(4rem, calc(100% + 6rem));
  transition: all .3s ease;
}

.card.visible {
  transform: translate(4rem, 6rem);
  opacity: 1;
}

.card h3 {
  position: relative;
  font-size: 24px;
  margin: 0 0 1rem;
}

.card h3::before {
  content: '';
  width: 10px;
  height: 10px;
  background: var(--tempBlue);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-30px,-50%);
}

.card > p {
  font-size: 12px;
  line-height: 1.1rem;
}

.card a {
  font-size: 14px;
  font-weight: 500;
  color: var(--tempBlue);
  transition: all .3s ease;
  text-decoration: none;
}

.card a:hover {
  padding-left: .5rem;
}

.card a svg {
  height: .75rem;
  margin-left: .25rem;
  transition: inherit;
}

.card a:hover svg {
  margin-left: .5rem;
}

@media (max-width: 991px) {
  .card {
    transform: translate(0, calc(100% + 6px));
    max-width: unset;
  }
}